@model List<Game>
@{
    ViewBag.Title = "Game List";
}

<h1>Video Game List!</h1>

<a asp-controller="Game" asp-action="Add">Add New Game</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Developer</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>@game.Year</td>
                <td>@game.Developer</td>
                <td>@game.Genre</td>
                <td>
                    <a asp-asp-controller="Game" asp-action="Edit" asp-route-id="@game.GameId">Edit</a>
                    <a asp-asp-controller="Game" asp-action="Delete" asp-route-id="@game.GameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
