<!--
    This is the home page
-->

@model List<Game>
@{
    ViewBag.Title = "Games";
}

<h1>Video Game List!</h1>
<form asp-controller="Game" asp-action="FilteredGames" method="get">
    <label for="genreFilter">Filter by Genre:</label>
    <select id="genreFilter" name="genreFilter">
        <option value="">All Genres</option>
        @foreach(var game in Model)
        {
            <option>@game.Genre</option>
        }

    </select>
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Developer</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>@game.Year</td>
                <td>@game.Developer</td>
                <td>@game.Genre</td>
                <td>
                    <a asp-controller="Game" asp-action="DetailsByName" asp-route-name="@game.Name">Details</a>
                    <a asp-controller="Game" asp-action="Edit" asp-route-id="@game?.GameId">Edit</a>
                    <a asp-controller="Game" asp-action="Delete" asp-route-id="@game?.GameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Game" asp-action="Add">Add New Games</a>
